<header class="mn-header navbar-fixed">
    <nav class="cyan darken-1">
        <div class="nav-wrapper row">
            <section *ngIf="_IsAuthenticated==true" class="material-design-hamburger navigation-toggle">
                <a href="javascript:void(0)" data-activates="slide-out" class="button-collapse show-on-large material-design-hamburger__icon">
                    <span class="material-design-hamburger__layer"></span>
                </a>
            </section>
            <div class="header-title col s3 m3">
                <span class="chapter-title">BTC2BID   {{_IsAuthenticated}}</span>
            </div>
            <ul class="right col s9 m3 nav-right-menu">
<li>
                                           <div class="preloader-wrapper small active ">
                                            <div class="spinner-layer spinner-blue-only">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
</li>
                <li *ngIf="_IsAuthenticated==true" class="hide-on-small-and-down">
                    <a  data-activates="dropdown1" class="dropdown-button dropdown-right show-on-large"><i class="material-icons">notifications_none</i><span class="badge">4</span></a>
                </li>
                <li *ngIf="_IsAuthenticated==false"><a [routerLink]="['SignUp']" class="chat-button show-on-large">SignUp</a></li>
                <li *ngIf="_IsAuthenticated==false"><a [routerLink]="['SignIn']" class="chat-button show-on-large">SignIn</a></li>
                <li *ngIf="_IsAuthenticated==false"><a [routerLink]="['ExternalSell']" class="chat-button show-on-large">SELL</a></li>
                <li *ngIf="_IsAuthenticated==false"><a [routerLink]="['ExternalBuy']" class="chat-button show-on-large">BUY</a></li>
            </ul>
            <ul *ngIf="_IsAuthenticated==true" class="right col s9 m3 nav-right-menu">
                <li><a  (click)="_sharedservice.logout()"  class="chat-button show-on-large">LogOut</a></li>
            </ul>
            <ul  id="dropdown1" class="dropdown-content notifications-dropdown">
                <li class="notificatoins-dropdown-container">
                    <ul>
                        <li class="notification-drop-title">Today</li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle cyan"><i class="material-icons">done</i></div>
                                    <div class="notification-text">
                                        <p><b>Alan Grey</b> uploaded new theme</p><span>7 min ago</span></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle deep-purple"><i class="material-icons">cached</i></div>
                                    <div class="notification-text">
                                        <p><b>Tom</b> updated status</p><span>14 min ago</span></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle red"><i class="material-icons">delete</i></div>
                                    <div class="notification-text">
                                        <p><b>Amily Lee</b> deleted account</p><span>28 min ago</span></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle cyan"><i class="material-icons">person_add</i></div>
                                    <div class="notification-text">
                                        <p><b>Tom Simpson</b> registered</p><span>2 hrs ago</span></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle green"><i class="material-icons">file_upload</i></div>
                                    <div class="notification-text">
                                        <p>Finished uploading files</p><span>4 hrs ago</span></div>
                                </div>
                            </a>
                        </li>
                        <li class="notification-drop-title">Yestarday</li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle green"><i class="material-icons">security</i></div>
                                    <div class="notification-text">
                                        <p>Security issues fixed</p><span>16 hrs ago</span></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle indigo"><i class="material-icons">file_download</i></div>
                                    <div class="notification-text">
                                        <p>Finished downloading files</p><span>22 hrs ago</span></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <div class="notification">
                                    <div class="notification-icon circle cyan"><i class="material-icons">code</i></div>
                                    <div class="notification-text">
                                        <p>Code changes were saved</p><span>1 day ago</span></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
